body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header, footer {
    background-color: aquamarine;
}

.site-title {
    color: blueviolet;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

ul {
    list-style-type: square;
}

ul li:nth-child(odd) {
    background-color: bisque;
}

nav a {
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
    background-color: blue;
    border: 1px solid blue;
    padding: 8px 12px;
}

nav a:hover, nav a:focus { 
    background-color: blueviolet;
}