/* This applies set styling to entire html body */
html,
body {
    margin:0;
    padding:0;
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}
/* This allow me to select the font weight i want for the headings, which is thinner at 300 */
h1, h2, h3 {
    font-weight: 300;
}
/* This allow for the header,main, and footer to be contained and background colored */
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #d8ece8;
}
/* The following allows the header h1 to be on top of the background header image. I had to research how to do some of this. */
.header-image-container {
    position: relative;
}

.header-img {
    width: 100%;
    height: auto;
}

.header-image-container h1 { 
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    margin: 0;
    text-align: center;
    color: white;
}
/* The following is all about the nav area. I made it flex so that it can be responsive. I had to do research on how to make it completely centered, and discovered "Flex 1" */
nav ul {
    padding: 0;
    margin: 10px 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* flex 1 allows the content to be completely centered */
nav ul li {
    flex: 1;
    text-align: center;
    border-left: 1px solid black;
    padding: 15px 0px;
}
nav ul li:first-child {
    border-left: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.main {
    padding: 20px;
}
/* The following is how I got the text to wrap around the starfish image, by floating the image "left". */
article h2 {
    font-size: 2rem;
}
.starfish-img-article {
    float: left;
    width: 250px;
    margin: 0 20px 20px 0;
}
article p {
    line-height: 1.4;
}

article section h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}
/* This section is Facts list. I had to do research on how to align the list with the rest of the content. */
article section ul {
    margin-left: 0;
    padding-left:0;
    list-style-position:inside
}
/* The following section is about the form. The biggest challenge was how to make the text box height taller, which i had to research, and found a solution. */
.form {
    border: 1px solid black;
    padding: 20px;
}

section h3 {
    font-size: 1.5rem;
}

.form-name,
.form-email,
.form-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 5px;
    height: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

textarea {
    padding: 5px;
    height: 100px;
}

.contact-form-p {
    font-size: 1.3rem;
}

.radio {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form-send-btn {
    margin-top: 15px;
}

.form-send-btn button {
    padding: 10px;
    border: 1px solid black;
    background-color: transparent;
}
/* This the footer. */
.footer {
    text-align: right;
    padding: 20px 20px 40px 10px;
}